{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">

        <h1 class="col-12">{{ details.name }} </h1>
    </div>
    <div class="row">
        <div class="col-12">

            <a href="/details/{{ details.id }}" class="float-right">Edit</a>

        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">

            <img src="{{ details.picture }}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            <p>Area : {{ details.name }}</p>
            <p>Size : {{ details.size }}</p>
            <p>Planet : {{details.planet  }} </p>
            <p>Movie(s) :{{ details.title }}</p>
        </div>
    </div>

    <a href="/beasts">Back</a>
{% endblock %}
